// out: style.css, sourcemap: true
@primaryAqua:    #12768E;
@darkAqua:       #27555F;
@superDarkAqua:  #033F4C;
@lightAqua:      #5AC0D9;
@superLightAqua: #8CCAD9;
@veryLightAqua:  #f4fdff;

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #333;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  background-color: @veryLightAqua;
}

h1, h2, h3, h4, h5, h6 {
  color: @superDarkAqua;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: none;
  line-height: 1.5;
}

h1 {font-size: 28px;}
h2 {font-size: 24px;}
h3 {font-size: 20px;}
h4 {font-size: 18px;}
h5 {font-size: 16px;}
h6 {font-size: 14px;}

::placeholder {
  color: @primaryAqua;
  opacity: .4;
}

.primary {
  &__container {
    width: 80%;
    margin: auto;
  }

  &__heading {
    text-align: center;
  }
}

.demo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  &__heading,
  &__subheading {
    min-width: 100%;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0;
  }

  &__subheading {
    color: @primaryAqua;
    margin-bottom: 20px;
  }

  &__input {
    width: 120px;
    height: 30px;
    font-size: 13px;
    line-height: 20px;
    border: 1px solid @primaryAqua;
    padding: 5px 10px;
    outline: 0;

    & + & {
      margin-left: 10px;
    }

    &[type="number"] {
      width: 60px;
      padding-right: 0;
    }
  }

  &__btn {
    min-width: 50px;
    font-size: 13px;
    line-height: 20px;
    background-color: white;
    border: 1px solid @primaryAqua;
    border-radius: 0;
    padding: 5px 10px;
    outline: 0;
    cursor: pointer;

    & + & {
      margin-left: -1px;
    }
  }

  &__paragraph {
    line-height: 20px;
    margin: 5px 0;
  }

  &__text {
    margin: 10px;

    &-row {
      margin: 5px 0;
    }
  }

  &__data {
    color: @lightAqua;
    margin-left: 10px;
  }

  &__hr {
    width: 75%;
    height: 1px;
    border: 0;
    background-color: @superLightAqua;
    margin: 40px auto;
  }

  &__small-hr {
    width: 100%;
    border: 0;
    position: relative;

    &:after {
      display: block;
      content: '';
      width: 35%;
      height: 1px;
      background-color: @superLightAqua;
      margin: 15px auto;
    }
  }

  &__invisible-separator {
    width: 100%;
  }

  &__square {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    background-color: #9E9E9E;
    border-radius: 0;
    transition: background-color .25s ease-out,
                border-radius .25s ease-out;
    cursor: pointer;

    &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 20px;

      & .demo__btn,
      & .demo__input {
        margin-top: 5px;
      }
    }

    & + .demo__input {
      margin-left: 10px;
    }

    &--1 {
      background-color: #2196F3;
    }
    &--2 {
      background-color: #673AB7;
    }
    &--3 {
      background-color: #00BCD4;
    }

    &.toggled {
      background-color: #3F51B5;
    }
    &.colored {
      background-color: #E91E63;
    }
    &.rounded {
      border-radius: 50%;
    }
    &.red {
      background-color: #f44336;
    }
    &.blue {
      background-color: #3f51b5;
    }
    &.green {
      background-color: #009688;
    }
  }
}
