<!doctype html>
<html>
  <head>
    <title>Vue.js</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>

    <main class="primary__container">

      <h1 class="primary__heading">Vue.js Эксперименты</h1>

      <hr class="demo__hr">
      <!-- ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <!-- ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <!-- ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->

      <div id="demo-app-1" class="demo">
        <h4 class="demo__heading">Demo #1: Что такое Vue.js. Первое приложение</h4>
        <h5 class="demo__subheading">Отображение текста, вводимого в инпут, в текстовом поле рядом</h5>

        <input type="text" v-on:input="setMessage" class="demo__input" placeholder="Type something...">
        <p class="demo__paragraph">&nbsp;→ <span class="demo__data">{{ msg }}</span></p>
      </div>

      <hr class="demo__hr">
      <!-- ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <!-- ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <!-- ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->

      <div id="demo-app-2" class="demo">
        <h4 class="demo__heading">Demo #2: Объект Vue</h4>
        <h5 class="demo__subheading">Хранение простых данных в параметре 'data'</h5>

        <div class="demo__text">User →</div>
        <div class="demo__text">
          <p class="demo__text-row">name    →<span class="demo__data">{{ name }}</span></p>
          <p class="demo__text-row">country →<span class="demo__data">{{ country }}</span></p>
          <p class="demo__text-row">city    →<span class="demo__data">{{ city }}</span></p>
        </div>

        <hr class="demo__small-hr">
        <h5 class="demo__subheading">Параметр 'methods' и вычисление факториала числа</h5>

        <div class="demo__text">
          Factorial 10 →<span class="demo__data">{{ factorial(10) }}</span>
        </div>
      </div>

      <hr class="demo__hr">
      <!-- ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <!-- ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <!-- ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->

      <div id="demo-app-3" class="demo">
        <h4 class="demo__heading">Demo #3: Привязка данных</h4>
        <h5 class="demo__subheading">Привязка к атрибуту 'href' для ссылки через директиву 'v-bind'</h5>

        <a v-bind:href="linkAddress" target="_blank">{{ linkText }}</a>
      </div>

      <hr class="demo__hr">
      <!-- ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <!-- ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <!-- ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->

      <div class="demo">
        <h4 class="demo__heading">Demo #4: Шаблоны</h4>
        <h5 class="demo__subheading">Параметр 'template' и создание простого шаблона из одного дива</h5>

        <div id="demo-app-4"></div>
      </div>

      <hr class="demo__hr">
      <!-- ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <!-- ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <!-- ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->

      <div id="demo-app-5" class="demo">
        <h4 class="demo__heading">Demo #5: Обработка событий</h4>
        <h5 class="demo__subheading">Директива 'v-bind' и простой счетчик с 2-мя обработчиками кликов</h5>

        <button v-on:click="increase" class="demo__btn"> + </button>
        <button v-on:click="decrease" class="demo__btn"> - </button>
        <div>&nbsp;→ <span class="demo__data">{{ counter }}</span></div>
      </div>

      <hr class="demo__hr">
      <!-- ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <!-- ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <!-- ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->

      <div class="demo">
        <h4 class="demo__heading">Demo #6: Двусторонняя привязка</h4>
        <h5 class="demo__subheading">Директива 'v-model' и привязка через нее 2-ух инпутов к одному значению</h5>

        <div id="demo-app-6-1" class="demo">
          <input type="text" v-model="name" class="demo__input">
          <input type="text" v-model="name" class="demo__input">
          <p class="demo__text">&nbsp;Name (из vue-модели):&nbsp;→ <span class="demo__data">{{ name }}</span></p>
        </div>

        <hr class="demo__small-hr">
        <h5 class="demo__subheading">Директива 'v-model' и вычисление факториала при вводе числа в инпут</h5>

        <div id="demo-app-6-2" class="demo">
          <p class="demo__text">Введите любое число от 1 до 100 для вычисления его факториала:</p>
          <input type="number" min="1" max="100" v-model="number" class="demo__input">
          <p class="demo__text">
            Факториал числа&nbsp;→
            <span class="demo__data">{{ number }}</span>
            &nbsp;→&nbsp;равен&nbsp;→&nbsp;
            <span class="demo__data">{{ factorial(number) }}</span>
          </p>
        </div>

      </div>

      <hr class="demo__hr">
      <!-- ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <!-- ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <!-- ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->

      <div class="demo">
        <h4 class="demo__heading">Demo #7: Вычисляемые свойства</h4>
        <h5 class="demo__subheading">Параметр 'computed' и разрешение/запрет доступа в зависимости от введенного значения</h5>

        <div id="demo-app-7-1" class="demo">
          <p class="demo__text">Введите ваше имя&nbsp; <input type="text" v-model="name" class="demo__input"><p>
          <p class="demo__text">Введите ваш возраст&nbsp; <input type="number" v-model="age" class="demo__input" min="0" max="150"></p>

          <div class="demo__invisible-separator"></div>

          <p class="demo__text">Имя:&nbsp;→ <span class="demo__data">{{ name }}</span></p>
          <p class="demo__text">Возраст:&nbsp;→ <span class="demo__data">{{ age }}</span></p>

          <p class="demo__text">Уровень доступа:&nbsp;→ <span class="demo__data">{{ checkAccess }}</span></p>
        </div>

        <hr class="demo__small-hr">
        <h5 class="demo__subheading">Параметр 'computed' и геттеры / сеттеры</h5>

        <div id="demo-app-7-2" class="demo">
          <p class="demo__text">Ваше имя&nbsp; <input type="text" v-model="firstName" class="demo__input"><p>
          <p class="demo__text">Ваше отчество&nbsp; <input type="text" v-model="middleName" class="demo__input"></p>
          <p class="demo__text">Ваша фамилию&nbsp; <input type="text" v-model="lastName" class="demo__input"></p>

          <div class="demo__invisible-separator"></div>

          <p class="demo__text">Ваше ФИО:&nbsp;→ <span class="demo__data">{{ fullName }}</span></p>
        </div>

      </div>

      <hr class="demo__hr">
      <!-- ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <!-- ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <!-- ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->

      <div id="demo-app-8" class="demo">
        <h4 class="demo__heading">Demo #8: Привзяка классов</h4>
        <h5 class="demo__subheading">Директива 'v-bind:class' и разные способы добавить классы</h5>

        <div class="demo__square-wrapper">
          <div class="demo__square demo__square--1" v-bind:class="{toggled: isToggled}" v-on:click="isToggled=!isToggled">Click me!</div>
        </div>

        <div class="demo__square-wrapper">
          <div class="demo__square demo__square--2" v-bind:class="{'colored': isColored, 'rounded': isRounded}">Choose ↓↓↓</div>
          <button class="demo__btn" v-on:click="isColored=!isColored">Toggle color</button>
          <button class="demo__btn" v-on:click="isRounded=!isRounded">Toggle form</button>
        </div>

        <div class="demo__square-wrapper">
          <div class="demo__square demo__square--3" v-bind:class="color">Type 'red' or <br> 'blue' or <br> 'green' ↓↓↓</div>
          <input type="text" class="demo__input" v-model="color" placeholder="red/blue/green">
        </div>
      </div>

      <hr class="demo__hr">
      <!-- ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <!-- ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <!-- ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->

      <div id="demo-app-9" class="demo">
        <h4 class="demo__heading">Demo #9: Привзяка к стилям</h4>
        <h5 class="demo__subheading">Директива 'v-bind:style' и изменение стилей через атрибут style="..."</h5>

        <div class="demo__square-wrapper">
          <div class="demo__square demo__square--1" v-bind:class="{toggled: isToggled}" v-on:click="isToggled=!isToggled">Click me!</div>
        </div>

        <div class="demo__square-wrapper">
          <div class="demo__square demo__square--2" v-bind:class="{'colored': isColored, 'rounded': isRounded}">Choose ↓↓↓</div>
          <button class="demo__btn" v-on:click="isColored=!isColored">Toggle color</button>
          <button class="demo__btn" v-on:click="isRounded=!isRounded">Toggle form</button>
        </div>

        <div class="demo__square-wrapper">
          <div class="demo__square demo__square--3" v-bind:class="color">Type 'red' or <br> 'blue' or <br> 'green' ↓↓↓</div>
          <input type="text" class="demo__input" v-model="color" placeholder="red/blue/green">
        </div>
      </div>

      <hr class="demo__hr">
      <!-- ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <!-- ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <!-- ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->

    </main>

    <script src="js/vue.js"></script>
    <script src="js/main.js"></script>

  </body>
</html>
